@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --style-script: 'Style Script', cursive;
  --quicksand: 'Quicksand', sans-serif;
  --primary-color: #1c78c0;
  --secondary-color: #8ed6fb;
  --background-color: #d5ebf6;
}

body {
  background-color: var(--background-color);
}

h1 {
  font-family: var(--style-script);
  font-style: italic;
  font-size: 5em;
}

thead td {
  font-weight: bold;
}

.table td {
  text-align: center;
}

#recent-scores {
  max-width: 450px;
  min-width: 350px;
}
